body {
  background-color: purple;
  text-align: center;
  width: 100%;
  height: 100%;
}

#game-board-bg {
  background-color: lightgray;
  width: 50%;
}

#game-board {
  background-color: orange;
  border-radius: 10px;
  padding: 10px;
}

.card {
  background-color: lightblue;
  border: 2px solid blue;
  border-radius: 10px;
  height: 125px;
  width: 100%;
}

/* build out animation */
.open {
  transition: 1000ms;
  transform: rotateY(0);
  background-color: purple;
}

.show {
  background-color: blue;
}

#card1 { grid-area = card1; }
#card2 { grid-area = card2; }
#card3 { grid-area = card3; }
#card4 { grid-area = card4; }
#card5 { grid-area = card5; }
#card6 { grid-area = card6; }
#card7 { grid-area = card7; }
#card8 { grid-area = card8; }
#card9 { grid-area = card9; }
#card10 { grid-area = card10; }
#card11 { grid-area = car11; }
#card12 { grid-area = card12; }
#card13 { grid-area = card1; }
#card14 { grid-area = card2; }
#card15 { grid-area = card3; }
#card16 { grid-area = card4; }

#deck {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "card1 card2 card3 card4"
    "card5 card6 card7 card8"
    "card9 card10 card11 card12"
    "card13 card14 card15 card16";
  background-color: red;
}
