body {
  background-color: lightblue;
  text-align: center;
  width: 100%;
  height: 100%;
}

h4 {
  margin: 0 auto;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 8.5px 17px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #fff;
   color: #000;
   }

#play-again {
  margin-top: 20px;
}

#panel {
  template-area: panel;
  font-size: 20px;
  font-family: 'Gugi', cursive;
  color: white;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  border: 4px solid blue;
}

.star {
  width: 25px;
  height: 25px;
  opacity: 1;
  transition: opacity: 0.5s;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#score {
  font-size: 1.5em;
}

#game-board-bg {
  template-area: board;
}

#win-screen-bg {
  display: table;
  position: absolute;
  vertical-align: middle;
  text-align: center;

  height: 550px;
  width: 550px;

  z-index: -1;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  border: 4px solid rgba(255, 0, 255, 0.8);
  padding: 30px;
  opacity: 0;
}

#win-screen {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#game-board {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  border: 4px solid rgba(255, 0, 255, 0.8);
  padding: 30px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  /* opacity: 0; */
}

.card-container {
  position: relative;
  width: 125px;
  height: 125px;
  perspective: 400px;
}

.card {
  position: absolute;
  border: 2px solid blue;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 1s;
  /* transform: rotateY(-180); */
}

.card.flipped {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .card-back {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card img {
  border-radius: 8px;
}

.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-matched {
  border-color: green;
}

#card1 { grid-area = card1; }
#card2 { grid-area = card2; }
#card3 { grid-area = card3; }
#card4 { grid-area = card4; }
#card5 { grid-area = card5; }
#card6 { grid-area = card6; }
#card7 { grid-area = card7; }
#card8 { grid-area = card8; }
#card9 { grid-area = card9; }
#card10 { grid-area = card10; }
#card11 { grid-area = car11; }
#card12 { grid-area = card12; }
#card13 { grid-area = card1; }
#card14 { grid-area = card2; }
#card15 { grid-area = card3; }
#card16 { grid-area = card4; }

#deck {
  display: grid;
  /* width: 550px; */
  grid-template-rows: auto;
  grid-template-areas:
    "card1 card2 card3 card4"
    "card5 card6 card7 card8"
    "card9 card10 card11 card12"
    "card13 card14 card15 card16";
  grid-gap: 2em;
}

#wrapper {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 2;
  grid-template-areas: "board panel";
  grid-gap: 2em;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1070px) {
  #deck {
    grid-gap: 1em;
  }

  #wrapper {
    grid-template-areas: "board" "panel";
  }
}

@media screen and (max-width: 880px) {
  .card-container {
    width: 80px;
    height: 80px;
    perspective: 400px;
  }

  .card img {
    width: 80px;
    height: 80px;
  }

  #win-screen-bg {
    height: 370px;
    width: 370px;
  }
}

@media screen and (max-width: 550px) {
  body {
    width: 100vw;
  }

  .button {
    padding: 4px 8px;
  }

  .card-container {
    width: 70px;
    height: 70px;
    perspective: 400px;
  }

  .card img {
    width: 70px;
    height: 70px;
  }

  #win-screen-bg {
    height: 340px;
    width: 340px;

    z-index: -1;
    color: white;
    border: 0px;
    padding: 5px;
  }

  #panel {
    font-size: 15px;
    font-family: 'Gugi', cursive;
    color: white;
    padding: 2px;
    border: 2px;
  }

  #game-board {
    border: 1px;
    padding: 8px;
  }

@media screen and (max-width: 365px) {
  body {
    width: 100vw;
  }

  .button {
    padding: 4px 8px;
  }

  .card-container {
    width: 60px;
    height: 60px;
    perspective: 400px;
  }

  .card img {
    width: 60px;
    height: 60px;
  }

  #win-screen-bg {
    height: 300px;
    width: 300px;

    z-index: -1;
    color: white;
    border: 0;
    padding: 5px;
  }

  #panel {
    font-size: 15px;
    font-family: 'Gugi', cursive;
    color: white;
    padding: 2px;
    border: 0px;
  }

  #game-board {
    border: 1px;
    padding: 8px;
  }
}
